<%= form_with(model: stream) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :free_stream, "Is this a Free Stream?" %>
    <%= form.check_box :free_stream %>
  </div>
  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :stream_date %>
    <%= form.text_field :stream_date, class: "form-control", data: { controller: :flatpickr, flatpickr_enable_time: true, flatpickr_alt_input: true, flatpickr_alt_format: t("time.formats.long") } %>
  </div>
  <div class="form-group">
    <%= form.label :stream_image %>
    <%= form.file_field :stream_image, direct_upload: true %>
  </div>
  <div class="form-group">
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>
  <div class="flex justify-between form-group">
    <%= form.button class: "btn btn-primary" %>
    <% if form.object.persisted? %>
      <%= link_to t("delete"), form.object, class: "btn btn-danger outline", method: :delete, data: { confirm: t("are_you_sure") } %>
    <% end %>
  </div>
<% end %>
