<div class="container px-4 mx-auto my-8" >
  <% if current_account_admin? || current_user.admin? %>
    <div class="flex justify-end my-4" data-controller="modal">
      <button class="mr-6 btn btn-secondary" data-action="click->modal#open">Show Stream Keys</button>
      <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="fixed inset-0 flex items-center justify-center hidden overflow-y-auto animated fadeIn" style="z-index: 9999;">
        <!-- Modal Inner Container -->
        <div class="relative w-full max-w-lg max-h-screen">
          <!-- Modal Card -->
          <div class="m-1 bg-white rounded shadow">
            <div class="p-8">
              <h3 class="mb-4"><%= @stream.name %> Streaming Info</h3>
              <ul>
                <li>Stream Key: <code> <%= @stream.stream_key %></code></li>
                <li>RTMP Link: <code><%= @stream.stream_rtmp_link %></code></li>
                <li>Playback ID: <code><%= @stream.playback_id %></code></li>
                <li>Stream Status: <code><%= @stream.status %> </code></li>
              </ul>
              <div class="flex flex-wrap items-center justify-end mt-6">
                <button class="btn btn-primary" data-action="click->modal#close">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= link_to 'Edit Stream', edit_stream_path(@stream), class: 'btn btn-secondary mr-6'%>
      <%= link_to 'Add Products', new_product_path({stream: @stream.id}), class: 'btn btn-secondary'%>
    </div>
  <% end %>
  <% if @admissible %>
    <div id="stream-media" class="container hidden px-4 mx-auto" >
      <div class="plyr__video-embed" style="height: auto; padding-bottom: 0px" id="video" data-playback="<%= @stream.playback_id %>">
        <video controls crossorigin playsinline poster="<%= url_for(@stream.stream_image) unless @stream.stream_image.nil? %>"></video>
      </div>
    </div>
  <% end %>
  <% unless  @admissible  %>
    <div class="container px-4 mx-auto my-8">
      <div class="aspect-w-16 aspect-h-10">
        <p>poster image here</p>
        <%= image_tag(@stream.stream_image, height: '620px', width: '900px')%>
      </div>
    </div>
  <% end %>
</div>
<div class="container mx-auto">
  <div class="flex items-center justify-between my-6">
    <h1 class="h3"><%= @stream.name %></h1>
    <% unless @stream.products.nil? %>
      <% @stream.products.each do |product| %>
        <%= render 'orders/short-form', name: product.name, amount: product.amount, slug: @stream.slug %>
      <% end %>
      <div class="block">
        <% if current_user && !current_user.personal_account.card_type? %>
          <%= link_to 'Update Payment Method', subscription_path, class: 'btn btn-primary' %>
        <% elsif !current_user %>
          <%= link_to 'Create Account', new_user_registration_path(:stream_id => "#{@stream.id}"), class: 'btn btn-primary'%>
          <span>or</span>
          <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary'%>
        <% elsif @admissible %>
          <p class="text-lg font-semibold">Hi <%= current_user.first_name %>! Enjoy the show.</p>
        <% end %>
      <% else %>
        <%= render "tickets/form", ticket: @ticket, stream: @stream.id, price: @stream.price %>
      <% end %>
    </div>
    <%# <%= link_to t("edit"), edit_stream_path(@stream), class: "btn btn-link" %>
  </div>
  <div class="p-8 bg-white rounded shadow">
    <h4 class="h4">Description:</h4>
    <div class="mx-auto">
      <%= @stream.body %>
    </div>
  </div>
  <%# <%= link_to 'Purchase Ticket', new_ticket_path, stream: @stream, amount: @stream.price %>
</div>
</div>
<% if @admissible %>
  <script>
    document.addEventListener('turbo:load', () => {
      const videoContainer = document.querySelector('#video')
      const playback = videoContainer.dataset.playback
    	const source = `https://stream.mux.com/${playback}.m3u8`;
    	const video = document.querySelector('video');
      const container = document.querySelector('#stream-media')
    
    	// For more options see: https://github.com/sampotts/plyr/#options
    	// captions.update is required for captions to work with hls.js
    	const player = new Plyr(video, {captions: {active: true, update: true, language: 'en'}});
    	if (!Hls.isSupported()) {
    		video.src = source;
    	} else {
    		// For more Hls.js options, see https://github.com/dailymotion/hls.js
    		const hls = new Hls();
    		hls.loadSource(source);
    		hls.attachMedia(video);
    		window.hls = hls;
        setTimeout(() => container.classList.toggle('hidden'), 500)
    		// Handle changing captions
    		// player.on('languagechange', () => {
    		// 	// Caption support is still flaky. See: https://github.com/sampotts/plyr/issues/994
    		// 	setTimeout(() => hls.subtitleTrack = player.currentTrack, 500);
    		// });
    
    	}
    
    	// Expose player so it can be used from the console
    	// window.player = player;
    });
  </script>
<% end %>
