<div class="text-center ">
  <%= form_with(model: @order) do |form| %>
    <%= render "shared/error_messages", resource: form.object %>
    <%= form.hidden_field :account_id, value: current_user.personal_account.id %>
    <%= form.hidden_field :amount, value: amount %>
    <%= form.hidden_field :product_name, value: name %>
    <%= form.hidden_field :stream_slug, value: slug %>
    <h4 class="text-center"><%= name %></h4>
    <div class="flex justify-center m-auto align-middle">
      <%= form.label :qyantity, "Qty", class: "block my-auto mx-4"%>
      <%= form.select :quantity, [1,2,3,4], class: "block mx-4"%>
      <%= form.button "Purchase", class: "btn btn-primary mx-4" %>
    </div>
    <p>Coupon Code: <code>PICKUP</code> to pick up at venue and $10 off</p>
  <% end %>
</div>
