<div class="flex flex-col items-center justify-center max-w-2xl py-32 m-auto text-center">
  <h1 class="mb-2"> <% unless current_tenant.nil? %>Welcome to <%= current_tenant.name%> <% else %> Welcome to NorthStream Platform <% end %></h1>
  <p class="mb-6 text-xl leading-normal text-gray-700">Please Sign Up or Sign In to see Available Streams</p>
  <% if Rails.env.development? %>
    <div class="flex flex-col items-center md:flex-row">
      <div class="w-full md:w-auto">
        <%= link_to "Configure Jumpstart", jumpstart_path, data: { turbo: false }, class: "btn btn-primary lg:mr-4 mr-0 lg:mb-0 mb-4" %>
      </div>
      <div>
        <span class="hidden h-10 mr-4 border border-gray-200 md:inline"></span>
        <%= link_to "Create a User", new_user_registration_path, class: "btn btn-tertiary outline lg:mr-4 mr-0 lg:mb-0 mb-4" %>
        <%= link_to "Read the Docs", jumpstart.docs_path, target: :_blank, data: { turbo: false }, class: "btn btn-tertiary outline lg:mr-4 mr-0 lg:mb-0 mb-4" %>
      </div>
    </div>
  <% else %>
    <div class="flex flex-col items-center md:flex-row">
      <div class="w-full md:w-auto">
        <%= link_to "Sign Up", new_user_registration_path, data: { turbo: false }, class: "btn btn-primary lg:mr-4 mr-0 lg:mb-0 mb-4" %>
      </div>
      <div>
        <span class="hidden h-10 mr-4 border border-gray-200 md:inline"></span>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-tertiary outline lg:mr-4 mr-0 lg:mb-0 mb-4" %>
      </div>
    </div>
  <% end %>
</div>
